.block__dashboard{
    margin: 15px 0;
    
}

.box__statistic, .box__activity__to__week, .box__status__ai{
    margin-top: 20px;
    padding: 8px 8px 8px 8px;
    border-radius: 5px;
    background-color:#1d1d1b;
}

.title{
    background-color: #cdc6be;
    padding-bottom: 10px;
    border-bottom: 8px solid #1d1d1b;
    border-radius: 5px;
    padding: 8px;
    display: flex;
    align-items: center;
    font-size: 22px;
    letter-spacing: 2px;
    font-weight: 700;
}

.list__response, .col__name__item, .col__progressbar, .col__procent{
    background-color: #cdc6be;
    font-size: 20px;
}

.list__response{
    display: flex;
    justify-content: space-between;
}

.list__response p{
    text-align: center;
    padding: 5px 0;
}

.item__response{
    width: 25%;
    border-right: 3px solid #1d1d1b;
}

.item__response:last-child{
    border-right: none
}

.content__activity, .content__status__ai{
    display: flex;
    justify-content: space-between;
    column-gap: 8px;
}

.col__name__item{
    width: 15%;
}

.col__procent, .col__name__item{
    text-align: center;
    padding: 0 8px;
    border-radius: 5px;
}

.name__item, .progressbar, .procent__item{
    height: 45px;
    margin: 5px 0;
    display: flex;
    align-items: center;
}

.col__progressbar{
    border-radius: 5px;
    width: 75%;
    padding: 0 8px;
}

.progressbar{
    width: 100%;
    
}

.progressbar span{
    display: block;
    background-color: #1d1d1b;
    height: 25px;
}


.box__button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.button__fonctional{
    border-radius: 5px;
    font-size: 24px;
    padding: 9px 25px;
    text-align: center;
    background-color: #1d1d1b;
    color: #cdc6be;
    transition: 0.8s;
    border:3px solid #1d1d1b;
}

.button__fonctional:hover{
    transition: 0.8s;
    background-color: #cdc6be;
    color: #1d1d1b;
}



