.block__dashboard{
    margin: 2vh 0;
    
}

.box__statistic, .box__activity__to__week, .box__status__ai{
    max-height: 20vh;
    margin-top: 1.5vh;
    padding: 2.7vh 8px 1.5vh 8px;
    border-radius: 5px;
    background-color:#1d1d1b;
}

.box__activity__to__week{
    max-height: 26vh;
}

.title{
    background-color: #cdc6be;
    padding-bottom: 2vh;
    border-bottom: 8px solid #1d1d1b;
    border-radius: 5px 5px 0 0;
    padding: 1vh;
    display: flex;
    align-items: center;
    font-size: 1.7vh;
    letter-spacing: 2px;
    font-weight: 700;
}

.list__response, .col__name__item, .col__progressbar, .col__procent{
    background-color: #cdc6be;
    font-size: 1.4vh;
}

.list__response{
    display: flex;
    justify-content: space-between;
    border-radius: 0 0 5px 5px;
}

.list__response p{
    font-size: 1.5vh;
    text-align: center;
    padding: 0.5vh 0;
}

.item__response{
    width: 25%;
    border-right: 3px solid #1d1d1b;
}

.item__response:last-child{
    border-right: none
}

.content__activity, .content__status__ai{
    display: flex;
    justify-content: space-between;
    column-gap: 8px;
}

.col__name__item{
    width: 15%;
    border-radius: 5px 0 0 5px;
}

.col__procent, .col__name__item{
    text-align: center;
    padding: 0 8px;
    
}

.name__item, .progressbar, .procent__item{
    height: 2vh;
    margin: 0.3vh 0;
    display: flex;
    align-items: center;
}

.col__progressbar{
    
    width: 80%;
    padding: 0 8px;
}

.col__procent{
    width: 5%;
    border-radius: 0 5px 5px 0;
}

.progressbar{
    width: 100%;
    
}

.progressbar span{
    min-width: 4px;
    display: block;
    background-color: #1d1d1b;
    height: 1.5vh;
}


.box__button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.button__fonctional{
    border-radius: 5px;
    font-size: 24px;
    padding: 9px 25px;
    text-align: center;
    background-color: #1d1d1b;
    color: #cdc6be;
    transition: 0.8s;
    border:3px solid #1d1d1b;
}

.button__fonctional:hover{
    transition: 0.8s;
    background-color: #cdc6be;
    color: #1d1d1b;
}



